.sesh-container {
    background-image: url('backgroundspace.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-top: 140px;
}
  
.form-group {
    margin-bottom: 20px;
}
  
.label {
    display: block;
    margin-bottom: 8px;
}
  
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.error {
    color: red;
    margin-top: 5px;
    display: block;
}
  
.success {
    color: green;
    margin-top: 10px;
    font-weight: bold;
}
  
.button {
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 24px;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
  
.button:hover {
    background-color: rgba(0, 0, 140, 0.471);
}
  