.gamePage {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-image: url('backgroundspace.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: black;
}

.locImg {
    width: 500px;
    height: 350px;
}



.gameTableContainer {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.proPic {
    width: 50px;
    height: 50px;
}

.userList {
    justify-content: center;
}
.gameTable{
    background-color: white;
    color: black;
    margin-left: 20px;
    border: 1px solid #ccc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    
}

.gamePage h2{
    color: white;
}

.gamePageContainer {
    background-color: white;
    border-radius: 20px;
    min-height: 70%;
    width: 50%;
    display: flex;
    flex-flow: wrap row;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 10px;
    padding: 5px 20px; /* top and bottom, left and right*/
}

.gameDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.gameDetails p {
    font-size: 1.1rem;
    margin: 30px 0;
}

.gameDetails strong {
    color: #333;
}