.login-container * {
    font-family: 'Comfortaa', sans-serif;
}

.login-container body, .login-container h1, .login-container p {
    margin: 0;
    padding: 0;
}

.login-container body {
    background-color: #f0f0f0;
    position: relative;
}

.login-container * {
    box-sizing: border-box;
}

.leftSideOfLogin .logo {
    width: 15em;
    height: 15em;
    margin-left: 130px;
}

.login-container {
    background-image: url('Login-Background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-container {
    flex: 1;
    display: flex;
    gap: -30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .leftSideOfLogin {
    display: flex;
    flex-flow: nowrap column;
    gap: 30px;
    padding-left: 200px;
    margin-left: 50px;
    justify-content: center;
}

.kick-it-text {
    color: white;
    font-size: 150px;
    padding-left: 30px;
}

.login-box-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 10px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    height: 50%;
}

.login-form-text-field {
    margin-bottom: 20px;
}

.login-form-text-field label {
    display: block;
    margin-bottom: 15px;
}

.login-form-text-field input {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px; 
    border: 1px solid #ccc;
}

.signup-link {
    padding-top: 10px;
    text-align: center;
}

.login-button button {
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 24px;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

.login-button button:hover {
    background-color: rgba(0, 0, 140, 0.471);
}
