.signup-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;

}

.signup-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
}

.signup-container h1 {
    text-align: center;
    color: navy;
}

.signup-container form {
    max-width: 900px;
    margin: 0 auto;
}

.signup-container label {
    display: block;
    margin-bottom: 10px;
}

.signup-container input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    display: block;
}

.signup-container button {
    text-align: center;
    background-color: navy;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.signup-container button:hover {
    background-color: rgba(0, 0, 140, 0.471);
}
